<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mysql.properties"/>
    <!--<typeAliases>&lt;!&ndash;设置别名&ndash;&gt;
             <typeAlias type="com.entity.User" alias="User"/>
    </typeAliases>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/><!-- 单独使用时配置成MANAGED没有事务 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers><!--该配置会告诉mybatis去哪里找映射文件-->
       <package name="com.mapper"/><!--将包内的映射器接口实现全部注册为映射器-->
    </mappers>

</configuration>
